
.cont {
    padding-top: 50px;
    background-color: #E6E6FA;
    height:100vh; 
}

.card {
    background-color: #FFFFFF; 
    color: #000000; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: 0 auto; 
}

.card-body {
    padding: 20px; 
}

.table {
    margin-top: 20px; 
}

.btn-primary {
    background-color: rgb(72, 209, 204); 
    border-color: rgb(72, 209, 204); 
    color: #FFFFFF; 
    transition: background-color 0.3s ease; 
    &:hover {
        background-color: #0056b3; 
}}

.btn-danger {
    background-color: rgb(128, 88, 192);
    border-color: rgb(128, 88, 192); 
    color: #FFFFFF; 
    transition: background-color 0.3s ease; 

    &:hover {
        background-color: #0056b3; 
    }
}

// Additional styling for spacing between buttons
.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-group .btn {
    flex: 1;
    margin-right: 10px; 
}

.btn-group .btn:last-child {
    margin-right: 0; 
}
.btn-secondary{
    background-color: rgb(128, 88, 192); 
    border-color: rgb(195, 177, 225); 
    color: #FFFFFF; 
    transition: background-color 0.3s ease; 

    &:hover {
        background-color: #0056b3; 
    }
}
