
<div class="cont">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h3 class="text-center">Login</h3>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label for="username">Username:</label>
                          <input id="username" type="text" formControlName="username" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="password">Password:</label>
                          <input id="password" type="password" formControlName="password" class="form-control" required>
                      </div>
                      <button class="btn btn-primary" type="submit">Submit</button>
                  </form>
                  <div *ngIf="loginSuccess" class="alert alert-success">
                    Login successful! Redirecting to dashboard...
                 </div>
                
                 <!-- Error message -->
                 <div *ngIf="loginFailed" class="alert alert-danger">
                    Login failed. Please check your username and password.
                 </div>
              </div>
          </div>
      </div>
  </div>
</div>
