
<div class="cont">
  <div class="row justify-content-center">
      <div class="col-md-8">
        <button type="button" class="btn btn-secondary" onclick="history.back()" style="position: absolute; top: 10px; left: 10px;">Back</button>
          <div class="card">
              <div class="card-body">
                  <h5 class="text-center">Budget </h5>
                  <div *ngIf="(notificationService.currentNotification | async) as notification" class="alert alert-warning mt-3">
                    {{ notification }}
                    <button class=" btn-primary closebtn" (click)="notificationService.hideNotification()">&times;</button>
                </div>
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Category</th>
                              <th>Budget Limit</th>
                              <th>Current Spending</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let budget of budgets">
                              <td>{{ budget.category }}</td>
                              <td>${{ budget.budgetLimit }}</td>
                              <td>${{ budget.currentSpending }}</td>
                              <td>
                                <div class="btn-group">
                                  <a (click)="routeToUpdateBudget(budget.budgetID)" class="btn btn-primary">Update</a>
                                  <button class="btn btn-danger" (click)="deleteBudget(budget.budgetID)">Delete</button>
                                </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                <div class="btn-group">
                  <button (click)="navigateToAddBudget()" class="btn btn-primary mt-3">Add Budget</button>
                  <button (click)="exportBudgetToExcel()" class="btn btn-primary mt-3">Export  to Excel</button>
                </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>
