
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
       <div class="col-md-6 text-center">
           <div id="header-text">
               <h6 class="display-4">FINTRACK</h6>
               <div class="mt-4">
                  <button class="btn btn-primary mr-2" routerLink="/signup">Signup</button>
                  <button class="btn btn-secondary" routerLink="/login">Login</button>
               </div>
           </div>
       </div>
  </div>
 </div>
 






